body {
  padding: 1rem;
}
#afd {
  max-width: 100%;
  height: 20rem;
  margin: auto;
}
.CodeMirror {
  background-color: #f6f6f6;
  border-color: #ddd;
  color: #333;
  text-shadow: 0 1px 0 #f3f3f3;
  border-radius: .3125em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  border: 0.0625rem solid #dddddd;
}
.CodeMirror-focused {
  box-shadow: 0 0 12px #38c;
  background-color: #fff;
  text-shadow: 0 1px 0 #f3f3f3;
}
.red {
  color: #F00;
}
/* jQuery Mobile Override para poder aumentar o tamanho da barra lateral */
.ui-panel {
  width: 30em !important;
}
.ui-panel.ui-panel-position-right {
  width: 30em !important;
}
.ui-panel.ui-panel-closed {
  width: 0;
}
.ui-panel-animate.ui-panel-page-content-position-left {
  left: 12.9em !important;
}
.ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay,
.ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
  -webkit-transform: translate3d(30em, 0, 0) !important;
  -moz-transform: translate3d(30em, 0, 0) !important;
  transform: translate3d(30em, 0, 0) !important;
}
.ui-panel-position-right {
  right: 30em !important;
}
.ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay,
.ui-panel-animate.ui-panel-position-right.ui-panel-display-push {
  -webkit-transform: translate3d(30em, 0, 0) !important;
  -moz-transform: translate3d(30em, 0, 0) !important;
  transform: translate3d(30em, 0, 0) !important;
}
.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open,
.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open,
.ui-panel-dismiss-position-left.ui-panel-dismiss-open {
  left: 30em !important;
  right: 30em !important;
}
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal,
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push,
.ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal,
.ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
  -webkit-transform: translate3d(30em, 0, 0) !important;
  -moz-transform: translate3d(30em, 0, 0) !important;
  transform: translate3d(30em, 0, 0) !important;
}
.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open,
.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open,
.ui-panel-dismiss-position-right.ui-panel-dismiss-open {
  left: 30em !important;
  right: 30em !important;
}
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal,
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push,
.ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal,
.ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
  -webkit-transform: translate3d(30em, 0, 0) !important;
  -moz-transform: translate3d(30em, 0, 0) !important;
  transform: translate3d(30em, 0, 0) !important;
}
@media (min-width: 55em) {
  .ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-left,
  .ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-left,
  .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-left,
  .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-left {
    margin-right: 30em !important;
  }
  .ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-right,
  .ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-right,
  .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-right,
  .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-right {
    margin-left: 30em !important;
  }
}
